<!doctype html>
<html ng-app="App">
<head>
    <meta charset="utf-8">
    <title>Zabbix Graph Viewer</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body id="body">
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="./">Zabbix Graph Viewer</a>
        </div>
    </div>
</nav>
<div class="container" ng-controller="MainCtrl">
    <form class="form-inline">
        <div class="form-group">
            <select class="form-control"
                ng-model="hostgroup"
                ng-options="v.name for v in hostgroups">
            </select>
            <select class="form-control"
                ng-model="graph"
                ng-options="v.name for v in graphs">
            </select>
            <select class="form-control"
                ng-model="period"
                ng-options="v.label for v in period_options">
            </select>
            <button class="btn btn-primary" type="button" ng-click="doGraphShow()">Do</button>
        </div>
    </form>
    <hr>
    <div>
        <p ng-repeat="img in images">
            <a href="{{ img.href }}" target="_blank">
                <img ng-src="{{ img.src }}" image-fade>
            </a>
        </p>
    </div>
</div>
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-cookies.min.js"></script>
<script src="app.js"></script>
</body>
</html>
